<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>转账</title>
    <link href="../static/plugins/layui-2.6.8/css/layui.css" rel="stylesheet"/>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">付款账户</label>
        <button type="button" class="layui-btn layui-btn-xs">选择账户</button>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" disabled required lay-verify="required" class="layui-input layui-disabled" style="border-radius: 10px 10px 0 0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" disabled class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余额</label>
            <div class="layui-input-inline">
                <input type="text" disabled class="layui-input layui-disabled" style="border-radius: 0 0 10px 10px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款账户</label>
        <button type="button" class="layui-btn layui-btn-xs">选择账户</button>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" disabled required lay-verify="required" class="layui-input layui-disabled" style="border-radius: 10px 10px 0 0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" disabled class="layui-input layui-disabled" style="border-radius: 0 0 10px 10px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">转账金额</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" required lay-verify="required" style="border-radius: 10px 10px 0 0">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="border-radius: 0 0 10px 10px"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确认转账</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script src="../static/plugins/jquery3.6/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="../static/plugins/layui-2.6.8/layui.js"></script>
<script src="../static/js/transfer.js"></script>
</html>