<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyouwu.mapper.TransferMapper">
    <select id="getTransfer" resultType="com.zhouyouwu.model.Transfer">
        SELECT * FROM TRANSFER_ZHOUCY
        WHERE USERID = #{searchParam.userid}
        <if test="searchParam.linkAccount != null and searchParam.linkAccount != ''">
            AND LINK_ACCOUNT = #{searchParam.linkAccount}
        </if>
        <if test="searchParam.opTimeStart != null and searchParam.opTimeStart != ''">
            AND OPERATION_TIME BETWEEN '${searchParam.opTimeStart}%' AND '${param1.opTimeEnd}%'
        </if>
        <if test="searchParam.opType != null and searchParam.opType != ''">
            AND OP_TYPE = #{searchParam.opType}
        </if>
        ORDER BY OPERATION_TIME DESC
    </select>

    <insert id="transfer">
        INSERT INTO TRANSFER_ZHOUCY
                (USERID, OPERATION_TIME, AMOUNT, LINK_ACCOUNT, LINK_USERNAME, OP_BALANCE, OP_TYPE, OP_DESC)
        VALUES (#{transfer.userid}, #{transfer.operationTime}, #{transfer.amount}, #{transfer.linkAccount},
                #{transfer.linkUsername}, #{transfer.opBalance}, #{transfer.opType}, #{transfer.opDesc})
    </insert>
</mapper>