<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyouwu.mapper.UserMapper">
    <resultMap id="ShowUser" type="com.zhouyouwu.model.vo.ShowUser">
        <result property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="accountBalance" column="account_balance"/>
    </resultMap>
    <select id="getUserById" resultType="com.zhouyouwu.model.User">
        SELECT *
        FROM ACCOUNT_ZHOUCY
        WHERE USERID = #{userid}
    </select>

    <select id="getUser" resultMap="ShowUser">
        SELECT * FROM ACCOUNT_ZHOUCY
        <where>
            <if test="searchParam != null and searchParam != ''">
                USERNAME LIKE '%${searchParam}%'
                OR USERID = #{searchParam}
            </if>
        </where>
        ORDER BY USERID
    </select>

    <insert id="createUser">
        INSERT INTO ACCOUNT_ZHOUCY
        VALUES (#{user.userid}, #{user.username},
                #{user.password}, #{user.phoneNo}, #{user.idCardNo},
                #{user.registerTime}, 0)
    </insert>

    <delete id="delUser">
        DELETE
        FROM ACCOUNT_ZHOUCY
        WHERE USERID = #{userid}
    </delete>

    <update id="updateUser">
        UPDATE ACCOUNT_ZHOUCY
        <set>
            <if test="user.password != null and user.password != ''">
                PASSWORD = #{user.password},
            </if>
            <if test="user.phoneNo != null and user.phoneNo != ''">
                PHONE_NO = #{user.phoneNo},
            </if>
        </set>
        WHERE USERID = #{user.userid}
    </update>

    <update id="updateBalance">
        UPDATE ACCOUNT_ZHOUCY
        SET ACCOUNT_BALANCE = #{opBalance}
        WHERE USERID = #{userid}
    </update>
</mapper>