<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyouwu.mapper.UserMapper">
    <resultMap id="ShowUser" type="com.zhouyouwu.model.vo.ShowUser">
        <id property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="accountBalance" column="account_balance"/>
    </resultMap>
    <select id="getUserById" resultType="com.zhouyouwu.model.User">
        select * from account_zhoucy
        where userid = #{userid}
    </select>

    <select id="getUser" resultMap="ShowUser">
        select * from account_zhoucy
        <where>
            <if test="searchParam != null">
                username like '%${searchParam}%'
                or userid = #{searchParam}
            </if>
        </where>
        order by userid
    </select>
</mapper>