<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../static/plugins/layui-2.6.8/css/layui.css" rel="stylesheet"/>
</head>
<body>
<div class="layui-input-inline">
    <input type="text" placeholder="请输入用户名或账号" class="layui-input" id="searchInput">
</div>
<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="searchBtn">查询</button>

<table id="accountData" class="layui-table" lay-filter="accountData">
</table>
</body>
<script src="../../static/plugins/jquery3.6/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="../../static/plugins/layui-2.6.8/layui.js"></script>
<script>
    layui.use(['layer','table'], function (){
        let table = layui.table
            , searchParam = '';

        initTable();

        $('#searchBtn').click(function (){
            searchParam = $('#searchInput').val();
            initTable();
        })

        table.on('tool(accountData)', function (obj){
            switch (obj.event){
                case 'choose':
                    if($('#accountData').attr("lay-data") !== 'link'){
                        parent.$('#userid').val(obj.data.userid);
                        parent.$('#username').val(obj.data.username);
                        parent.$('#accountBalance').val(obj.data.accountBalance);
                    }else {
                        parent.$('#linkAccount').val(obj.data.userid);
                        parent.$('#linkUsername').val(obj.data.username);
                    }
                    let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
            }
        });

        function initTable() {
            table.render({
                elem: '#accountData'
                , url: '../../getUser.do' //数据接口
                , method: 'get'
                , where: {searchParam: searchParam}
                , page: true //开启分页
                , cols: [[ //表头
                    {field: 'userid', title: '账号'}
                    , {field: 'username', title: '用户名'}
                    , {field: '', title: '操作', templet: '#tableButton'}
                ]]
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.result.total, //解析数据长度
                        "data": res.result.list //解析数据列表
                    };
                }
            });
        }
    });
</script>

<script type="text/html" id="tableButton">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="choose">选择</button>
</script>
</html>